BOT_TOKEN='8203642817:AAG6kTxQS5Wm5wxuHziqaEFuJ0xnk31r2zA'
# Not used in opensource version
BOT_IP=127.0.0.1
SERVER_URL=''
DOMAIN='localhost'
USE_WEBHOOK=False
ADMIN=7782202013
# Not used without domain
MARZ_HAS_CERTIFICATE=True
CERT_FULLCHAIN_PATH='/Users/macbookairm1/Desktop/vpn/telegram-vpn-bot/fullchain.pem'
CERT_KEY_PATH='/Users/macbookairm1/Desktop/vpn/telegram-vpn-bot/privkey.pem'
YOOKASSA_TOKEN=381764678:TEST:150587
PROVIDER_TOKEN=381764678:TEST:150587
YOOKASSA_SHOP_ID=381764
YOO_SHOP_ID=381764
YOO_API_KEY=381764678:TEST:150587
YOO_WEBHOOK_URL=https://localhost:8002/yookassa/webhook
